<% if @care_item.errors.any? %>
  <%= @care_item.errors.count %>件のエラーが発生しました
  <ul>
    <% @care_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>