<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-8">
      <h2><%= @pet.name %>の体重・全長修正</h2>

      <div>
        <%= render 'error', body_info: @body_info %>
      </div>

      <%= form_with model: @body_info, url: pet_body_info_path, method: :patch do |f| %>
        <%= render 'form', f: f %>
      <% end %>
    </div>
  </div>
</div>